<!DOCTYPE html>
<html>
  <head>
    <title>MarkPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <div class="container">
      <div class="main-nav">
      <img class="logo" src="https://res.cloudinary.com/dftzp2fex/image/upload/v1617052137/mark-logo_p2w8um.jpg">
      <ul class="ul">
        <%= link_to home_path do %>
        <li>Home</li>
        <% end %>
        <%= link_to projects_path do %>
        <li>Projects</li>
        <% end %>
        <%= link_to aboutme_path do %>
        <li>About Me</li>
        <% end %>
      </ul>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
